language: go

os:
  - linux
  - osx
  - windows
go:
  - tip
  - 1.13.x
  - 1.12.x
  - 1.11.x

before_install:
  - go get -t -v ./...

script:
  - go test -race -coverprofile=coverage.txt -covermode=atomic

after_success:
  - bash <(curl -s https://codecov.io/bash)